html {
  background-color: #546e7a !important;
}

body {
  -webkit-app-region: drag;
}

textarea {
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

#mapClose {
  z-index: 9;
  position: absolute;
  top: 2%;
  left: 12%;
}

.card {
  margin: 10px 10px 10px 10px;
}

.card .card-action {
  padding: 8px;
  height: 54px;
}

.input-field label {
  color: #fff;
}

#amount label {
  color: #fff  !important;
}

.input-field,
button,
a,
#sb,
#map {
  -webkit-app-region: no-drag;
}

.input-field input[type=text] {
  color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

#amount{
  color: #fff !important;
  border-bottom: 1px solid #fff  !important;
  box-shadow: 0 1px 0 0 #fff  !important;
}

.input-field textarea.materialize-textarea {
  color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.tap-target {
  color: #fff;
  background-color: #546e7a;
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.tap-target-content {
  left: 60px !important;
  top: 30px !important;
}

.chip {
  background-color: teal;
  color: white;
  cursor: pointer;
  min-width: 100px;
}

.winControls {
  margin-left: 31px;
}